* {
    margin: 0;
    padding: 0;
    max-width: 1366px;   
}
body{

    background-color: #ffffff85;
}
header {
    height: 100px;
    width: 100%;
    background-color: transparent;
    border-bottom: solid 2px #C68A2D;
    display: flex;
    justify-content: center;

}
nav {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav img {
    border: none;
    height: 100%;
    width: 30%;
    object-fit: contain;
}
.trilho{
    height: 60px;
    width: 140px;
    background-color: #626262;
    border: solid 2px #C68A2D;
    border-radius: 45px;
    align-items: center;
    position: relative;
}
.trilho .indicador{
    height: 59px;
    width: 59px;
    background-color: white;
    border-radius: 50%;
    transform: scale(o.9);
    position: absolute;
    left:0;
    transition: 0.5s;
}

.trilho.ligth{
    background-color: #8a8686;
}

.trilho.ligth .indicador{
    left: 79px;
    background-color: black;
}
body.ligth {
    background-color: black;
}


.conteiner {
    height: 100vh;
    max-width: 1366px;
    width: 100%;
    background-color: transparent;
    color: #8a8686;
    display: flex;
    align-items: center;
    justify-content: space-around
}
.inicio {
    display: flex;
    width: 90%;
    flex-direction: column;
}
.inicio {
    font-size: 25px;
}

#mypohto {
    border-bottom: solid 2px #C68A2D;
    height: 100%;
    width: 600px;
       
}
#mypohto img {
    height: 100%;
    width: 100%;
}
.inicio h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: #C68A2D;
}

#background{

    position:fixed;

    width:100%;
    height:100vh;

    top:0;
    left:0;

    z-index:-1;

    overflow:hidden;
}

.code{

    position:absolute;

    color:#d4af37;

    opacity:.08;

    white-space:pre;

    font-size:18px;

    animation:float linear infinite;

    user-select:none;
}

@keyframes float{

    from{

        transform:translateY(110vh);
    }

    to{

        transform:translateY(-150%);
    }

}

section{
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
section h3{
    margin-bottom: 30px;
    color: #8a8686;
    font-size: 2.5rem;
    max-width: 1366px;
}
.galeria {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1366px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;    
    /* 2. Ativa o arrastar com o mouse (Scroll Snap moderno) */
    scrollbar-width: none; /* Esconde no Firefox */
    -ms-overflow-style: none
}

/* 3. Esconde a barra de rolagem no Chrome, Safari e Opera */
.galeria::-webkit-scrollbar {
    display: none;
}

.cards {
    height: 400px;
    width: 320px;
    flex-shrink: 0;
    border: solid 2px #C68A2D;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    justify-content: start;
    
}
.cards img {
    height: 200px;
    width: 90%;
    margin-bottom: 20px;
    object-fit: cover;
}

.cards button {
    height: 40px;
    margin-top: 20px;
    width: 200px;
    border-radius: 20px;
    background-color: #C68A2D;
    color: #fff;
}
.tech {
    height: 220px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    
}
.tech h3{
    margin-bottom: 20px;
}
.tecnologias {
    background-color: #ebebeb;
    height: 120px;
    width: 90%;
    max-width: 1366px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    border: solid 2px #C68A2D;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Esconde no Firefox */
    -ms-overflow-style: none;
    gap: 80px;
}
.logotech{
    flex-shrink: 0;
    height: 80px;
    width: 60px;
    display: flex;
    width: max-content;
    gap: 30px;
    animation: deslizar 20s linear infinite;

}

@keyframes deslizar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-2382px);
    }
}
    
    

.logotech img{
    height: 100%;
    width: 90px;

}
.oferta{
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}
.oferta h3 {
    color: #8a8686;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.orcamentos {
    height: 500px;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1366px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;    
    /* 2. Ativa o arrastar com o mouse (Scroll Snap moderno) */
    scrollbar-width: none; /* Esconde no Firefox */
    -ms-overflow-style: none
}
.formulario {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Img/website-builder.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.formulario.ligth {
    background-image: url(../Img/darkfrom.png);
}

.formulario h3{
    margin-left: 30px;
    color: #8a8686;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
#forms {
    height: 550px;
    width: 60%;
    border: solid 2px #C68A2D;
    border-radius: 20px;
    color: #C68A2D;
    background-color: #ffffff2b;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 30px;
    margin-bottom: 20px;
}
#forms input{
    height: 1.6rem;
    margin-bottom: 20px;
    width: 90%;
    border-radius: 20px;
}
#forms textarea {
    height: 6rem;
    margin-bottom: 15px;
    width: 90%;
    border-radius: 20px;
}
#forms button {
    height: 1.6rem;
    width: 30%;
    border-radius: 20px;
    background-color: #C68A2D;
    color: #fff;
}
footer {
    border-top: solid 2px #C68A2D;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    
}
.dev {
    color: #8a8686;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    height: 50%;
    width: 100%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}
.social i {
    width: 300px;
    color: #8a8686;
    font-size: 2rem;
    
}


@media (max-width: 600px) {
    #mypohto {
        display: none;
    }
    .conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inicio h1{
        font-size: 33px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section h3{
        font-size: 33px;
    }
    .tech h3{
        font-size: 33px;
    }
    .oferta h3 {
        font-size: 33px;
    }
    .formulario h3{
        font-size: 33px;
    }
}